<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li>
            <a href="#">
                <i class="fa fa-user fa-fw"></i>
                {{ 'label.user.profile'|trans }}
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-gear fa-fw"></i>
                {{ 'label.user.settings'|trans }}
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <i class="fa fa-sign-out fa-fw"></i>
                {{ 'label.user.logout'|trans }}
            </a>
        </li>
    </ul>
</li>
