<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
            "@bootstrap_min_css"
            "@onsenui_css"
            "@onsen_css_components_css"
            "@font_awesome_css"
        %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

    {% endblock %}

    {% block local_stylesheets %}{% endblock %}
    
</head>

<body>
    {% block frontend_layout %}

    {% endblock %}

    {% javascripts
        "@onsenui_js"
        "@jquery"
        "@bootstrap_min_js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}
    {% block local_javascripts %}{% endblock %}
</body>

</html>
