{% block header_menu %}
    <div class="navigation-bar navigation-bar--android bg-secondary">
        <div class="navigation-bar__left">
            <span class="toolbar-button--quiet navigation-bar__line-height">
                <a onclick="history.back();"><i class="fa fa-angle-left icon-primary fg-secondary"></i></a>
            </span>
        </div>

        <div class="navigation-bar__center fg-primary">
           Page
        </div>
        <div class="navigation-bar__right navigation-bar--android__right">
            <span class="toolbar-button--quiet navigation-bar__line-height">
                <i class="fa fa-headphones icon-primary"></i>
                <a href="">
                    <i class="fa fa-user icon-primary"></i>
                </a>
            </span>
        </div>
    </div>
{% endblock %}
